*.exe
*.out

*.aux
*.lof
*.log
*.lot
*.fls
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

.DS_Store
.AppleDouble
.LSOverride

.TemporaryItems
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
__pycache__/
lib/
